.footer {
  width: 80%;
  border-top: 1px solid #eae6e6;
  margin-top: 50px;
  padding-top: 24px;
  padding-bottom: 50px;
}
.info {
  margin-left: 16%;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 0.8rem;
  color: #eae6e6;
}
