body {
  margin: 0;
  font-family: 'Source Code Pro', monospace;
}
a {
  text-decoration: none; /*밑줄 없애기*/
  color: #eae6e6;
}
.navbar {
  display: flex; /*가로로 배치*/
  justify-content: space-between; /*(가로축 - 중심축) 요소들 사이에 동일한 간격을 둠*/
  align-items: center; /*(세로축 - 교차축) 컨테이너의 세로 축의 중앙으로 정렬*/
  background-color: #14181c;
  padding: 8px 12px;
}

.navbar__log {
  font-size: 24px;
}

.navbar__log i {
  color: #eae6e6;
}

.navbar__menu {
  display: flex; /*가로로 배치*/
  list-style: none; /*앞에 나오는 점 없애기*/
  padding-left: 0;
}

.navbar__menu li {
  padding: 8px 50px;
}

.navbar__menu li:hover {
  background-color: #2d5074;
  border-radius: 4px; /*테두리 둥글게 하기*/
}

.navbar__login {
  list-style: none; /*앞에 나오는 점 없애기*/
  color: #eae6e6;
  display: flex; /*가로로 배치*/
  padding-left: 0;
}

.navbar__login li:hover {
  background-color: #2d5074;
  border-radius: 4px; /*테두리 둥글게 하기*/
}

.navbar__login li {
  padding: 8px 12px;
}

.navbar__toogleBtn {
  display: none; /*화면 상 어떤 영역을 차지하지 않기*/
  position: absolute; /*부모 요소를 기준으로 배치*/
  right: 32px;
  font-size: 24px;
}

.box {
  height: 30px;
  display: flex;
  cursor: pointer; /*마우스 커서 모양 지정정*/
  padding: 10px 20px;
  background: #eae6e6;
  border-radius: 30px; /*테두리 둥글게 하기*/
  align-items: center; /*(세로축 - 교차축) 컨테이너의 세로 축의 중앙으로 정렬*/
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3); /*(그림자 속성)가로, 세로, 그림자 흐릿하게*/
}

.box:hover input {
  width: 400px;
}

.box input {
  width: 0;
  outline: none;
  border: none;
  font-weight: 500; /*글자의 굵기*/
  transition: 0.8s; /*크기가 변화하는 시간*/
  background: transparent; /*투명하게 이렇게 지정하면 칸이 안보임*/
  color: #14181c;
}

.box a .fas {
  font-size: 18px;
}
@media screen and (max-width: 970px) {
  /*미디어 뭐리는 특정 조건이 true인 경우에만 코드 블록{} 내부의 css 코드를 실행해주는 구문
    뷰포트 너비에 맞춘 미디어 쿼리*/

  .navbar {
    flex-direction: column; /*(플렉스 - 방향) 위에서 아래로 붙음*/
    align-items: flex-start; /*(세로축 - 교차축) 컨테이너의 최상단으로 정렬*/
    padding: 8px 24px;
  }

  .navbar__menu {
    display: none;
    flex-direction: column; /*(플렉스 - 방향) 위에서 아래로 붙음*/
    align-items: center; /*(세로축 - 교차축) 컨테이너의 세로 축의 중앙으로 정렬*/
    width: 100%;
  }

  .navbar__menu li {
    width: 100%;
    text-align: center;
  }

  .navbar__login {
    display: none;
    justify-content: center; /*(가로축 - 중심축) 요소들 컨테이너의 중앙으로 정렬*/
    width: 100%;
  }

  .navbar__toogleBtn {
    display: block; /*요소를 block 요소처럼 표시*/
  }

  .navbar__menu.active,
  .navbar__login.active {
    display: flex; /*가로로 배치*/
  }

  .box {
    display: none;
  }
}
