body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.login-wrapper {
  width: 600px;
  height: 400px;
  box-sizing: border-box;
  position: relative;
  padding-top: 210px;
  margin-bottom: 300px;
}

.login-wrapper > h2 {
  position: relative;
  font-size: 24px;
  color: #eae6e6;
  margin-bottom: 70px;
  text-align: center;
}

.login-form > input {
  position: relative;
  width: 100%;
  height: 50px;
  padding: 0 10px;
  box-sizing: border-box;
  margin-bottom: 16px;
  border-radius: 10px;
  background-color: grey;
}
.login-form > input::placeholder {
  color: #d2d2d2;
}

.login-form > input[type='submit'] {
  color: #ffffff;
  font-size: 16px;
  margin-top: 20px;
  width: 250px;
  margin-left: 175px;
  background-color: pink;
}

.login-form ul {
  text-align: center;
  justify-content: center;
}

.login-form a {
  color: #eae6e6;
  font-size: 10px;
  position: relative;
  top: -2px;
  text-decoration: none;
}
