header {
  color: white;
  width: auto;
  height: 80px;
  margin: 0px;
}

body {
  font-size: 14px;
  font-family: 'Noto Sans KR', sans-serif;
  width: 100%;
  height: 100%;
  position: relative;
  background-color: black;
  border: 5px solid white;
}
.login-wrapper {
  width: 600px;
  height: 400px;
  padding: 40px;
  box-sizing: border-box;

  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: 200px;
  margin-left: -300px;
  margin-right: -200px;
}

.login-wrapper > h2 {
  font-size: 24px;
  color: #fff;
  margin-bottom: 70px;
  text-align: center;
}
.login-wrapper > h4 {
  font-size: 2px;
  font-weight: lighter;
  color: #fff;
  text-align: right;
}

.login-form > input {
  width: 100%;
  height: 48px;
  padding: 0 10px;
  box-sizing: border-box;
  margin-bottom: 16px;
  border-radius: 6px;
  background-color: grey;
}
.login-form > input::placeholder {
  color: #d2d2d2;
}

.login-form > input[type='submit'] {
  color: #fff;
  font-size: 16px;
  margin-top: 20px;
  width: 250px;
  margin-left: 130px;
  background-color: pink;
}

.login-form ul {
  width: auto;
  text-align: center;
  margin-bottom: 60px;
}
.login-form li {
  display: inline-block;
  height: 12px;
  line-height: 12px;
}
.login-form li:last-child {
  border-left: 2px solid white;
  padding-left: 10px;
  margin-left: 4px;
}
.login-form a {
  color: white;
  font-size: 10px;
  position: relative;
  top: -2px;
  text-decoration: none;
}
