<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.timecinema.movie.IMovieMapper">


<select id="getBoxOfficeList" resultType="box">
	<![CDATA[
	SELECT * FROM
	(
	    SELECT ROWNUM AS rank, tbl.*
	    FROM(
	        SELECT 
	        	REPLACE(title, ' ', '') AS title, 
	        	REPLACE(open_dt, '-', '') AS open_dt,
	        	poster,
	        	row_num
	        FROM box_office
	        WHERE SUBSTR(open_dt, 1, 4) >= #{yearFrom}
		        AND SUBSTR(open_dt, 1, 4) < #{yearFrom} + 10
		        AND row_num < 30000
	        ORDER BY viewer DESC
	    )tbl
	)
	WHERE rank>0 AND rank<=20
	]]>
</select>

<update id="setPoster">
	UPDATE box_office
	SET poster=#{poster}
	WHERE row_num=#{rowNum}
</update>

<select id="getBoxInfo" resultType="box">
	SELECT
		REPLACE(title, ' ', '') AS title, 
	   	REPLACE(open_dt, '-', '') AS open_dt,
	   	poster,
	   	row_num
	FROM box_office
	WHERE row_num=#{rowNum}
</select>

<update id="setMovie">
	MERGE INTO box_office
	USING DUAL
    	ON (row_num = #{rowNum})
	WHEN NOT MATCHED THEN
	    INSERT (row_num, title, open_dt, poster)
	    VALUES (#{rowNum}, #{title}, #{openDt}, #{poster})
</update>

</mapper>