<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.timecinema.movie.IMovieMapper">


	<select id="getBoxOfficeList" resultType="time">
		<![CDATA[
		SELECT * FROM
		(
		    SELECT ROWNUM AS rank, tbl.*
		    FROM(
		        SELECT 
		        	title, 
	                REPLACE(open_dt, '-', '.') AS open_dt
		        FROM box_office
		        WHERE SUBSTR(open_dt, 1, 4) >= #{yearFrom}
			        AND SUBSTR(open_dt, 1, 4) < #{yearFrom} + 10
		        ORDER BY viewer DESC
		    )tbl
		)
		WHERE rank>0 AND rank<=20
		]]>
	</select>
	
	<select id="checkMovie" resultType="string">
		SELECT movie_id
		FROM movie
		WHERE title = #{title}
			AND open_dt = #{openDt}
	</select>
	
	<select id="getMovie" resultType="movie">
		SELECT * 
		FROM movie
		WHERE movie_id = #{movieId}
	</select>
	
	<update id="setMovie">
		MERGE INTO movie
		USING DUAL
	    	ON (movie_id = #{movieId})
		WHEN NOT MATCHED THEN
		    INSERT (movie_id, title, open_dt, poster)
		    VALUES (#{movieId}, #{title}, #{openDt}, #{poster})
	</update>


<!-- <select id="getBoxInfo" resultType="box">
	SELECT
		REPLACE(title, ' ', '') AS title, 
	   	REPLACE(open_dt, '-', '') AS open_dt,
	   	poster,
	   	row_num
	FROM box_office
	WHERE row_num=#{rowNum}
</select> -->



</mapper>